$red:   			#ed1c24;
$orange:     		#FFA300; 
$yellow: 	    	#F3D54E; 
$blue: 			    #0071c5; 
$dark-blue:		    #003C71; 
$light-blue:	    #00aeef; 
$pale-blue:		    #7ed3f7; 
$green:			    #C4D600;
$light-gray: 	    #b1babf; 
$gray:			    #939598; 
$dark-gray: 	    #53565a; 
$white:             #ffffff;
$black:             #000000;
$light-red:		    #ff6450;
$dark-red: 		    #931c1a;
$lighter-gray1:	    #f7f8f9;
$lighter-gray2:	    #edeff0;
$lighter-gray3:	    #e1e5e7;
$darker-gray:	    #333;
$darkest-gray:	    #111;
$brand-success-bg:  #dff0d8 !default;
$brand-info-bg:     #d9edf7 !default;
$brand-warning-bg:  #fcf8e3 !default;
$brand-danger-bg:   #f2dede !default;

$hover-red:             $light-red;
$tapped-red: 	        $dark-red;
$lighter-blue:	        $pale-blue;
$hover-blue:	        $light-blue;
$tapped-blue:	        $dark-blue;
$lighter-gray: 	        $lighter-gray2;
$hover-gray: 	        $lighter-gray;
$tapped-gray:	        $light-gray;
$gray-darker:           $darker-gray 	!default; 
$gray-dark:             $dark-gray 		!default;   
$gray:                  $gray 			!default; 
$gray-light:            $light-gray 	!default;  
$gray-lighter:          $lighter-gray 	!default;
$brand-success:         $green !default;
$brand-info:            $light-blue;
$brand-warning:         $orange !default;//$yellow !default;
$brand-danger:          $red !default;


$border-radius-base:        2px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

$font-size-base:          14px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14

$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success !default;
$state-success-bg:               $brand-success-bg !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  $brand-info-bg !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               $brand-warning-bg !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                $brand-danger-bg !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


//== Alerts
//

//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;
